body {
    background-color: #E8E1CF;
}

h1 {
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: large;
}

h2 {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 60px;
    margin-bottom: 30px;

}

h3 {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 20px;
}

h4 {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 14px;
}

p {
    font-family: 'Karla', sans-serif;
    font-weight: 400;
    font-size: small;
}

.page-content{
    width: 100%;
    height: 100%;
    padding: 100px 100px 0px 100px;
}

.nav-footer{
    background-color: #E8E1CF;
    height: 60px;
}

.nav-link {
    color: #232323;
}

.nav-link:hover {
    color: #232323;
}

a:hover{
    color: #232323;
}

.menu-item{
    width: 300px;
    text-align: center;
}

.active {
    border-bottom: 3px solid #575757;
}

.not-active{
    border-bottom: 3px solid #E8E1CF;
}

.header {
    background-color: #E8E1CF;
    width:100%;
    height: 75px;
    padding: 0px 40px 0px 40px;
}

.rainbow:hover {
    width: fit-content;
    background: #DD0303;
    background: -webkit-linear-gradient(left, #F78800 , #F7E600, #007C25, #004BF7, #710783);
    background: -o-linear-gradient(right, #F78800, #F7E600, #007C25, #004BF7, #710783);
    background: -moz-linear-gradient(right, #F78800, #F7E600, #007C25, #004BF7, #710783);
    background: linear-gradient(to right, #F78800 , #F7E600, #007C25, #004BF7, #710783);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.center-text{
    display: flex;
    justify-content: center;
}